<main>
	
    <!-- Sidebar START -->
    <app-side-bar></app-side-bar>
    <!-- Sidebar END -->
    
    <!-- Page content START -->
    <div class="page-content">
    
        <!-- Top bar START -->
       <app-top-bar></app-top-bar>
        <!-- Top bar END -->
    
        <!-- Page main content START -->
        <div class="page-content-wrapper border">
    
            <!-- Title -->
            <div class="row">
                <div class="col-12 mb-3">
                    <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
                </div>
            </div>
            <iframe title="finalEspritCollab" width="1040" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=add9cd59-0fca-4ca3-af92-abd802b70b65&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>       
            <!-- Counter boxes END -->
    
            <!-- Chart and Ticket START -->
        
            <!-- Chart and Ticket END -->
    
            <!-- Top listed Cards START -->
         
            <!-- Top listed Cards END -->
    
        </div>
        <!-- Page main content END -->
    </div>
    <!-- Page content END -->
    
    </main>