<h1 mat-dialog-title class="dialog-title">Add Document</h1>
<div mat-dialog-content>
  <form #documentForm="ngForm" (ngSubmit)="onSubmit()"  class="form-container">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="newDocument.titleDoc" name="titleDoc" required #titleDoc="ngModel">
        <mat-error *ngIf="titleDoc.invalid && (titleDoc.dirty || titleDoc.touched)">
          Title is required.
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="newDocument.content" name="content" required #content="ngModel" rows="4"></textarea>
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
          Content is required.
        </mat-error>
      </mat-form-field>
    </div>
    

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Price (DT)</mat-label>
        <input matInput type="number" [(ngModel)]="newDocument.price" name="price" required #price="ngModel">
        <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
          Price is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Module</mat-label>
        <mat-select [(ngModel)]="newDocument.module" name="module" required>
          <mat-option *ngFor="let module of modules" [value]="module.nomModule">{{ module.nomModule }}</mat-option>
        </mat-select>
        <mat-icon matSuffix>subject</mat-icon>
        <mat-error *ngIf="!newDocument.module">
          Module is required.
        </mat-error>
      </mat-form-field>
    </div>
    
    
    <div class="form-field" style="margin-bottom: 20px;">
      <input type="file" (change)="onFilesSelected($event)" multiple>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="documentForm.invalid">Add Document</button>
    </div>
  </form>
</div>
