<main>
    <!-- Sidebar START -->
    <app-side-bar></app-side-bar>
    <!-- Sidebar END -->
    
    <!-- Page content START -->
    <div class="page-content">
        <!-- Top bar START -->
        <app-top-bar></app-top-bar>
        <!-- Top bar END -->
    
        <!-- Page main content START -->
        <div class="page-content-wrapper border">
            <div class="row g-4">
                <!-- User table START -->
                <div class="col-xxl-7">
                    <div class="card bg-transparent border h-100">
                        <!-- Card header -->
                        <div class="card-header bg-light border-bottom d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Students</h5>
                            <button class="btn btn-danger mb-0" [routerLink]="['/addUser']">
                                Create a Student
                            </button>
                        </div>
                        <!-- Card body START -->
                        <div class="card-body pb-0">
                            <div class="table-responsive border-0">
                                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 rounded-start">Picture</th>
                                            <th scope="col" class="border-0">Username</th>
                                            <th scope="col" class="border-0">Email</th>
                                            <th scope="col" class="border-0">Level</th>
                                            <th scope="col" class="border-0">Major</th>
                                            <th scope="col" class="border-0">Status</th>
                                            <th scope="col" class="border-0 rounded-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td class="text-center text-sm-start">
                                                <img [src]="user.pictureUrl || 'default_user.png'" alt="{{user.username}}'s Picture" class="user-image">
                                            </td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.level }}</td>
                                            <td>{{ user.major }}</td>
                                            <td>
                                                <span [class]="user.active ? 'badge bg-success' : 'badge bg-danger'">
                                                    {{ user.active ? 'Active' : 'Inactive' }}
                                                </span>
                                                <div *ngIf="!user.active">
                                                    Time until reactivation: <span *ngIf="user.deactivationDate">{{ getTimeUntilReactivation(user.deactivationDate) | async }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-success-soft btn-round me-1 mb-1 mb-md-1" (click)="editStudent(user.id)" aria-label="Edit">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <button class="btn btn-danger soft btn-round me-1 mb-1 mb-md-0" (click)="deleteUser(user.id)" aria-label="Delete">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <button class="btn btn-info-soft btn-round me-1 mb-1 mb-md-1" (click)="viewStudentDetails(user.id)" aria-label="View Details">
                                                    <i class="bi bi-eye"></i>
                                                </button>
                                                <button class="btn btn-success" (click)="reactivateUser(user.id)" *ngIf="!user.active">
                                                    <i class="bi bi-unlock-fill"></i> Reactivate
                                                </button>
                                                <button class="btn btn-warning" (click)="openDeactivateModal(user.id)" *ngIf="user.active">
                                                    <i class="bi bi-lock-fill"></i> Deactivate
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <!-- Deactivate Modal -->
                        <div *ngIf="showModal" class="modal fade show d-block" tabindex="-1" aria-labelledby="deactivateUserModalLabel" style="background-color: rgba(0,0,0,0.5);">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deactivateUserModalLabel">Deactivate User</h5>
                                        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="deactivationDuration">Select the duration for deactivation:</label>
                                        <select [(ngModel)]="duration" id="deactivationDuration" class="form-select">
                                            <option value="P1D">1 Day</option>
                                            <option value="P7D">1 Week</option>
                                            <option value="P1M">1 Month</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                                        <button type="button" class="btn btn-primary" (click)="deactivateUser()">Confirm Deactivation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Card body END -->
                        <!-- Card footer START -->
                        <div class="card-footer bg-transparent">
                            <!-- Pagination START -->
                            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                                <!-- Content -->
                                <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                                <!-- Pagination -->
                                <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                                    <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                                        <li class="page-item mb-0" [class.disabled]="currentPage === 1">
                                            <a class="page-link" href="#" (click)="goToPage(currentPage - 1)" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <ng-container *ngFor="let page of pages">
                                            <li class="page-item mb-0" [class.active]="page === currentPage">
                                                <a class="page-link" href="#" (click)="goToPage(page)">{{ page }}</a>
                                            </li>
                                        </ng-container>
                                        <li class="page-item mb-0" [class.disabled]="currentPage === totalPages">
                                            <a class="page-link" href="#" (click)="goToPage(currentPage + 1)">
                                                <i class="fas fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                
                                
                            </div>
                            <!-- Pagination END -->
                        </div>
                        <!-- Card footer END -->
                    </div>
                </div>
                <!-- User table END -->
            </div> 
        </div>
        <!-- Page main content END -->
    </div>
    
    <!-- Page content END -->
</main>
