<!-- forget-password.component.html -->

<main>
  <section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xxl-11">
          <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
              <div class="col-12 col-md-6">
                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="assets/images/mail.jpg" alt="Welcome back you've been missed!">
            </div>
              <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-11 col-xl-10">
                  <div class="card-body p-3 p-md-4 p-xl-5">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-5">
                          <h3 class="text-center">Forgot your password?</h3>
                          <h6 class="text-center"> No problem! Just enter your email below, and we'll send you a secure link to reset </h6>

                        </div>
                      </div>
                    </div>
                    <form class="row gy-3 needs-validation" (ngSubmit)="onSubmit()">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" placeholder="Email" required>
                          <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email Address</label>
                          <div class="invalid-feedback">
                            Please enter a valid email.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button class="btn btn-danger btn-lg" type="submit">Reset Password</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
