<h1 mat-dialog-title>Document Details</h1>
<div mat-dialog-content>
  <div *ngIf="document">
    <p><strong>Title:</strong> {{ document.titleDoc }}</p>
    <p><strong>Module:</strong> {{ document.module }}</p>
    <p><strong>Price:</strong> {{ document.price }}</p>
    <p ><strong>Content:</strong> {{ document.content }}</p>

  </div>
  <div>
  <ul>
    <li *ngFor="let file of files">
      <a href="{{ fileUrl(file) }}" target="_blank" download>{{ file }}</a>
    </li>
  </ul> 
  </div> 
</div>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" aria-label="Close dialog">close</mat-icon>
</button>
