<!-- forgot-password.component.html -->
<main>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Login 8 - Bootstrap Brain Component -->
    <section class="bg-light p-3 p-md-4 p-xl-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-11">
                    <div class="card border-light-subtle shadow-sm">
                        <div class="row g-0">
                            <div class="col-12 col-md-6">
                                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="assets/images/fp.jpg" alt="Welcome back you've been missed!">
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                                <div class="col-12 col-lg-11 col-xl-10">
                                    <div class="card-body p-3 p-md-4 p-xl-5">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-5">
                                                    <h2 class="text-center">Rest Password</h2>
                                                </div>
                                            </div>
                                        </div>
      
                                        <form class="row gy-3 needs-validation" (ngSubmit)="onSubmit()">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                  <input [type]="newPasswordVisible ? 'text' : 'password'" class="form-control" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="New Password" required>
                                                  <label for="newPassword"><i class="fas fa-lock"></i> New Password</label>
                                                  <button type="button" class="btn btn-view-password" (click)="toggleNewPasswordVisibility()" aria-label="Toggle new password visibility">
                                                    <i class="fas" [class.fa-eye-slash]="newPasswordVisible" [class.fa-eye]="!newPasswordVisible"></i>
                                                  </button>
                                                  <div class="invalid-feedback">
                                                    Please enter a valid password.
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-12">
                                                <div class="form-floating mb-3">
                                                  <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                                                  <label for="confirmPassword"><i class="fas fa-lock"></i> Confirm Password</label>
                                                  <button type="button" class="btn btn-view-password" (click)="toggleConfirmPasswordVisibility()" aria-label="Toggle confirm password visibility">
                                                    <i class="fas" [class.fa-eye-slash]="confirmPasswordVisible" [class.fa-eye]="!confirmPasswordVisible"></i>
                                                  </button>
                                                  <div class="invalid-feedback">
                                                    Please confirm your password.
                                                  </div>
                                                </div>
                                              </div>
                                              
                                            
                                            <div class="col-12">
                                              <div class="d-grid">
                                                <button class="btn btn-danger btn-lg" type="submit">Reset Password</button>
                                              </div>
                                            </div>
                                          </form>
                                          
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-grid">
                <a routerLink="/login" class="btn btn-outline-dark mb-0">Sign in</a>
            </div>
        </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  </section>
  </main>
  
  <script>
  (function () {
  'use strict'
  
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')
  
  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
  .forEach(function (form) {
  form.addEventListener('submit', function (event) {
  if (!form.checkValidity()) {
  event.preventDefault()
  event.stopPropagation()
  }
  
  form.classList.add('was-validated')
  }, false)
  })
  })()
  </script>
  