
<div class="container">
    <div class="row">
        <!-- Left sidebar START -->
        <div class="col-xl-3">
            <div class="list-group list-group-dark list-group-borderless">
                <a class="list-group-item active" href="/profile"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
               
                <a class="list-group-item" href="/editprofile"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
                
                <a class="list-group-item" href="/deleteprofile"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class="list-group-item text-danger bg-danger-soft-hover" href="sign-in.html"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
            </div>
        </div>
     
    </div><!-- Row END -->
</div>