.book-list-section {
    padding: 2rem 0;
    
}

.section-title {
    color: #6c757d;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.book-card {
    border: 1px solid #ddd; /* Encadrement des cartes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet 3D léger */
    border-radius: 16px; /* Coins arrondis */
    overflow: hidden; /* Permet de garder tout contenu interne à l'intérieur des coins arrondis */
    margin-bottom: 1.5rem;
    transition: transform 0.2s; /* Animation pour l'effet au survol */
}

.book-card:hover {
    transform: translateY(-5px); /* Légère élévation de la carte lors du survol */
}

.book-card-header {
    position: relative; /* Pour positionnement absolu des éléments enfants */
    overflow: hidden; /* Permet de masquer le contenu débordant */
}

.book-card-header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Couche sombre pour améliorer la lisibilité du texte */
}

.book-card-header img {
    width: 100%;
    display: block;
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Garantit que l'image couvre l'espace disponible */
}

.book-card-body {
    padding: 1rem;
    background-color: #fff; /* Fond blanc pour le corps de la carte */
}

.book-level {
    display: block;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 0.875rem;
}

.book-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.book-description {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
}

.book-rating .stars {
    color: #ffc107; /* Star rating color */
}

.book-rating .rating {
    font-size: 0.875rem;
    color: #333;
    margin-left: 0.5rem;
}

.book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: #333;
}


/* Adaptez ce qui suit en fonction de vos besoins de couleurs spécifiques */
.book-card:nth-child(odd) .book-card-header::after {
    background: rgba(255, 165, 0, 0.3); /* Couleur orange clair pour les cartes impaires */
}

.book-card:nth-child(even) .book-card-header::after {
    background: rgba(0, 0, 255, 0.3); /* Couleur bleu clair pour les cartes paires */
}
.book-card-header {
    position: relative;
  }
  
  .card-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; /* S'assurer que les boutons sont au-dessus de l'image */
  }
  
  .card-controls .btn {
    margin-left: 5px; /* Espacer les boutons */
  }
  .book-card {
    /* Ajouter du padding en bas pour faire de la place pour les boutons */
    margin-bottom: 20px;
    /* Autres styles */
  }
  
  .sticker {
    /* ... autres styles ... */
    transition: color 0.3s ease; /* Animation douce pour le changement de couleur */
  }
  
  .sticker:hover {
    color: #e74c3c; /* Couleur au survol, choisissez ce qui convient à votre design */
    transform: scale(1.1); /* L'icône grandit légèrement au survol */
  }
  .header-container {
    background-color: #2C3E50; /* Une couleur de fond similaire à celle de votre image */
    color: white;
    text-align: center;
    padding: 30px 0; /* Ajouter du padding pour l'espace vertical */
    background-image: url('/path-to-your-background-pattern.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  
  .header-container h1 {
    color: white; /* Définit la couleur du titre en blanc */
    font-size: 2.5rem; /* Ajustez la taille du titre selon vos besoins */
    margin: 0;
    padding: 0;
  }
  
  .header-container nav ul {
    list-style-type: none; /* Enlever les puces de la liste */
    padding: 0;
  }
  
  .header-container nav ul li {
    display: inline; /* Mettre les éléments de la liste en ligne */
    margin: 0 10px; /* Ajuster l'espace entre les liens */
  }
  
  .header-container nav ul li a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Enlever le soulignement */
    font-weight: bold;
  }
  
  .header-container nav ul li a:hover {
    text-decoration: underline; /* Ajouter un soulignement au survol */
  }
   
  .book-form-container {
    background-color: #262626; /* Adjust the background color */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
  }
  
  .form-title {
    color: #ffffff;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .book-form {
    display: grid;
    grid-gap: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #333333;
    background-clip: padding-box;
    border: 1px solid #444;
    border-radius: 5px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  
  .form-control::placeholder {
    color: #888;
  }
  
  .form-control:focus {
    color: #ffffff;
    background-color: #333333;
    border-color: #555;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
  }
  
  .btn-submit {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 75px;
  }
  
  .btn-submit:hover {
    background-color: #45a049;
  }
  
  .form-note {
    color: #bbbbbb;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* In case you need to support Internet Explorer 10-11 */
  input[type="file"]::-ms-browse {
    display: none;
  }
  
  input[type="file"]::-ms-value {
    background: none;
    color: #fff;
  }
  
  .book-form-container {
    background-color: #061921; /* Light blue background for the container */
    border-radius: 5px;
    padding: 20px;
    position: relative;
    margin-top: 50px; /* Adjust as necessary to account for SVG */
    flex: 1; /* Takes up half the space */
    scroll-margin-block-start: 10px; /* Adds a margin between the form and the book list */
  }
  
  .btn-submit {
    background-color: #9f1b03; /* Red color for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* SVG specific styles */
  .position-absolute {
    position: absolute;
    top: -50px; /* Adjust as necessary */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .w-100 {
    width: 100%;
  }
  
  .mt-n1 {
    margin-top: -1rem;
  }
  
  /* Add other styles for your SVG as needed */
  
  
  
  
  /* Style général du formulaire */
.form-group {
    margin: 15px 0;
  }
  
  /* Bouton générique */
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  
  /* Ajout d'une marge à droite du bouton Annuler */
.btn-cancel {
    background-color: #9f1b03; /* Couleur Rouge */
    color: white;
    margin-right: 10px; /* Espace entre les boutons */
  }
  
  /* ou, alternativement, ajoutez une marge à gauche du bouton Enregistrer */
  .btn-save {
    background-color: #9f1b03; /* Couleur Rouge */
    color: white;
    margin-left: 10px; /* Espace entre les boutons */
  }
  
  
