<app-header></app-header>

    <main>

        <!-- Page Banner START -->
        <section class="bg-blue align-items-center d-flex" style="background:url('/assets/images/sousou.jpg') no-repeat center center; background-size:cover;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Title -->
                        <h1 class="event-title" style="color: rgb(111, 19, 19);">Revise well !</h1>
                        <h5 class="event-title" style="color: rgb(111, 19, 19);">Find your Purchased documents here</h5>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item" style="color: black;">Home</li>
                                    <li class="breadcrumb-item active" style="color: black;" aria-current="page">My Purchases</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Banner END -->
        
        <!-- Page content START -->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <!-- Main content START -->
                    <div class="col-lg-8 col-xl-9">
                        <!-- Course Grid START -->
                        <div class="row g-4">
                            
                            <div class="col-sm-6 col-xl-4" *ngFor="let d of documents"  (click)="openGetDocumentByIdDialog(d.idDoc)">
                                <div class="card action-trigger-hover border">
                                    <!-- Content -->
                                    <div class="card-body pb-0">
                                        <p class="mb-2"><strong>Module:</strong> {{ d.module }}</p>
                                        <h5 class="card-title" style="color: brown;">{{ d.titleDoc }}</h5>
                                        <p class="mb-2 text-truncate-2">{{ d.content }}</p>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Course Grid END -->
    
                        
                    </div>
                    <!-- Main content END -->
                    
                    
                    
                </div><!-- Row END -->
            </div>
        </section>
        <!-- Page content END -->
</main>
<app-footer></app-footer>