<app-header></app-header>

<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Add a Claim</h2>

      <form (submit)="addComplaint(newComplaint)">
        <div class="mb-3">
          <label for="dateComplaint" class="form-label">Claim Date</label>
          <input type="text" class="form-control" id="dateComplaint" value="{{ getCurrentDate() }}" readonly>
        </div>

        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea class="form-control" id="comment" rows="5" required [(ngModel)]="newComplaint.comment" name="comment"></textarea>
        </div>

        <!-- You can uncomment and customize this section if needed -->
      
       <!-- <div class="mb-3">
          <label for="traitement" class="form-label">Traitement</label>
          <select class="form-select" id="traitement" required [(ngModel)]="newComplaint.traitement" name="traitement">
            <option value="">Select Treatment</option>
            <option value="TREATED">TREATED</option>
            <option value="UNTREATED">UNTREATED</option>
          </select>
        </div>-->
        

        <div class="text-center">
          <button type="submit" class="btn btn-danger btn-lg">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
