<app-header></app-header>
    <!-- =======================
    Page Banner START -->
<div class="main">
    <section class=" position-relative">
      <div class="title">
    <H1>Here you find your complaints</H1>
    <p style="color: rgb(77, 80, 80);">Thank you for waiting until we trait your problem !</p>
  </div>
        <!-- Svg decoration -->
  
  <div class="row">
    <div class="col-xxl-12 ">
      <button  style="margin-left: 270px;" class="btn btn-danger" (click)="createComplaint() ">
        Create Complaint
      </button>
      <button class="btn btn-danger" (click)="navigateToChatbot() "style="margin-left: 10px;" >
        Contact Us
      </button>
    </div>
    <div class="col-sm-9  mx-auto my-3" *ngFor="let complaint of complaints" >
      <div class="card card-body bg-purple bg-opacity-10 text-center position-relative " >
        <!-- Title -->
        <!-- <h5 class="mb-2"><a href="#">{{ complaint.title }}</a></h5> -->
        <!-- Description -->
        <p>{{ complaint.comment }}</p>
        <!-- Date -->
        <p class="card-text"><span class="date">{{ complaint.dateComplaint | date }}</span></p>
        <!-- État de la plainte -->
        <p>{{ isComplaintTreated(complaint) ? 'Traité' : 'Non traité' }}</p>
        <!-- État de la plainte avec checkbox -->
       
        
        <button class="btn btn-success-soft btn-round me-1 mb-1 mb-md-0" (click)="updateComplaint(complaint)">
          <i class="bi bi-pencil-square"></i>
        </button>
        
        <!--<button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0" (click)="deleteComplaint(complaint.idComplaint)">
          <i class="bi bi-x-lg"></i>
        </button>-->
        
          <button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0" (click)="confirmDelete(complaint.idComplaint)">
            <i class="bi bi-x-lg"></i>
          </button>
        
        
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="complaint.isChecked"
              (change)="toggleTreatment(complaint)"
            >
            Mark as Resolved
          </label> 
        </div>
       
        
      </div>
     
    </div>
  </div>

 



<app-footer></app-footer>
